@import url(styles/variables.css);
@import url(styles/basic.css);
@import url(styles/header.css);
@import url(styles/home.css);
@import url(styles/chronology.css);
@import url(styles/history.css);
@import url(styles/gallery.css);
@import url(styles/contacts.css);
@import url(styles/mobile_nav.css);

@font-face {
    font-family: Beer;
    src: url(fonts/beer-money12.ttf);
}