*{
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color-white);
  margin: 0;
  font-family: 'Beer';
}

.container{
  margin: 0 auto;
  max-width: 970px;
  padding: 0 10px;
}

a{
  color: unset;
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,p{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

.divider {
  height: 1px;
  background-color: var(--color-black);
  border: none;
  max-width: 560px;
  margin: 0 auto;
}

