.gallery {
    padding: 50px 20px 50px;
    text-align: center;
    background-color: var(--bg-color-gray);
}

.gallery-title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 50px;
}

.image {
    height: min(100%, 420px);
    width: min(100%, 640px);
    object-fit: contain;
}

.image-description {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0 55px;
}

@media(max-width: 480px){
    .gallery-title {
    font-size: 28px;
}

.image-description {
    font-size: 18px;
}
}