.header {
  padding: 25px 0 0;
}

.header-nav-menu {
  width: 100%;
}

.header-nav-menu::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray);
  margin: 20px 0 0;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray);
  position: relative;
}

.list-item::after{
  content: "";
  height: 1px;
  right: 100%;
  left: 0;
  bottom: -4px;
  background-color: var(--color-black);
  position: absolute;
  transition: .20s;
}

.list-item:hover::after{
  right: 0;
}

.list-item:hover{
  color: var(--color-black);
}

@media(max-width:480px){
   .header {
  display: none;
}
}
