.history {
  text-align: center;
  padding: 50px 20px 60px;
}

.history-title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 35px;
}

.history-subtitle {
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 15px;
}

.history-description {
  font-size: 18px;
  text-align: justify;
  margin: 40px 0 40px;
}

@media(max-width: 480px){
  .history-title {
  font-size: 28px;
}

.history-subtitle {
  font-size: 19px;
}

.history-description {
  font-size: 15px;
}
}

