.home {
    text-align: center;
    background-color: var(--bg-color-white);
    padding: 40px 0 30px;
}

.home-title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 25px;
}

.home-description {
    font-size: 20px;
    font-weight: 500px;
    margin: 0 0 25px;
}

.home-image {
    width: 100%;
    height: 580px;
    object-fit: cover;
}

@media(max-width:480px){
   .home {
    text-align: left;
}
.home-title {
    font-size: 36px;
}

.home-description {
    font-size: 18px;
}
}